@font-face {
    font-family: "MFDianHei_Noncommercial-Regular";
    src: url("../fonts/MFDianHei_Noncommercial-Regular.eot"); /* IE9 */
    src: url("../fonts/MFDianHei_Noncommercial-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("../fonts/MFDianHei_Noncommercial-Regular.woff") format("woff"), /* chrome、firefox */
    url("../fonts/MFDianHei_Noncommercial-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("../fonts/MFDianHei_Noncommercial-Regular.svg#MFDianHei_Noncommercial-Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

html{
  overflow: hidden;
  height: 100%;
	color:transparent;;
  width:100%;
	}
body{
  width:100%;
  font-family: "MFDianHei_Noncommercial-Regular", serif;
  min-height: 100%;
	height: 100% !important;
	background-image: url("../images/Firstpage.png");
  background-size:100% 100%;
  overflow: auto;
  color: white;
	}
.title{
	margin-top: 8%;
}

.title_name {
    text-align: center;
}
.title_text{
	font-family:Georgia;
	color: white;
	font-size: 1em;
}
.small_title{
	margin-top: 5%;
	margin-left: 4%;
	color:white;
	font-size:1.5em;
}
.newfont{
	color:white;
}
.personal_info{
	border: 3px solid white;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 15%;
}
.player_input {
    position:absolute;
    bottom:0px;
    width: 100%;
    text-align: center;
    margin-bottom: 15%;
}

.input_name{
  background-image: url("../images/NameInput.png");
  background-size:100% 100%;
}
.input_back{
  background-color:transparent;
  border:0px;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 2em;
}
.enter_button {
    background-color: transparent;
    margin-top: 5%;
    background-image: url("../images/JRYX.png");
    background-size:100% 100%;
    width: 10em;
    height: 4em;
    border: 0px;
}

.special_thumbnail {
    background-color: transparent;
    border: 0px;
    margin-bottom: 2%;
}

.center_bottom {
    margin-bottom: 5%;
    text-align: center;
}

.center_top {
    margin-top: 3%;
    text-align: center;
}

.center {
    text-align: center;
}

.button_position {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.application_status {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
}

.back_img {
    width: 100%;
}

.identify_scene {
    margin-top: 3%;
    margin-bottom: 3%;
}
.text_view{
  background-image: url('../images/textfield.png');
  background-size: 100% 100%;
  border: 0px;
  background-color: transparent;
}
.up {
    background-image: url('../images/add.png');
    background-size: 100% 100%;
    border: 0px;
    width: 1em;
    height: 1.5em;
    background-color: transparent;;
    border-radius: 20px;
}

.down {
    background-image: url('../images/minus.png');
    background-size: 100% 100%;
    border: 0px;
    width: 1em;
    height: 1.5em;
    background-color: transparent;;
    border-radius: 20px;
}
.night{
	margin-left: 10%;
	margin-right: 10%;
}
.footer{
  background-image: url('../images/downText.png');
  background-size: 100% 100%;
	position:absolute;
	bottom:0px;
	width: 100%;
	margin: 0;
	height: 4%;/* or however high you would like */
}
.xiangshang_caidan{
	background-image:url('../images/minus.png');
	background-size:100% 100%;
	border:0px;
	width: 1em;
	height: 1.5em;
	margin-left: 4%;
	margin-right: 4%;
	background-color: transparent;;
	border-radius:20px;
}
.no_padding{
  padding-left: 0px;
  padding-right: 0px;

}
.no_margin{
  margin-left: 0px;
  margin-right: 0px;
}
.createroom_button{
  background-color: transparent;
  margin-top: 5%;
  background-image: url("../images/CJFJ.png");
  background-size:100% 100%;
  width: 8em;
  height: 3em;
  border: 0px;
}
.joingame_button{
  background-color: transparent;
  margin-top: 5%;
  background-image: url("../images/JRFJ.png");
  background-size:100% 100%;
  width: 8em;
  height: 3em;
  border: 0px;
}
/*.roomnumber{
  background-color: transparent;
  margin-top: 10%;
  background-image: url("../images/menpai.png");
  background-size:100% 100%;
  width: 10em;
  height: 5em;
  border: 0px;

}*/
.roomnumber_top{
  height: 4.5em;
  background-size: 100% 100%;
  background-position:center;
  background-image: url(../images/menpai.png);
  margin-bottom: 30px;
}
.roomnumber_top span{
    line-height: 4.5em;
}
.table_bg{
  background-image: url(../images/sitPanel.png);
  background-size: 100% 100%;
  padding-top: 5%;
}
.tableset{
  margin-left: auto;
  margin-right: auto;
  border:0px;
  line-height: 8.5em;
  width: 80%;
}
.sitbutton{
  background-image: url(../images/ZX.png);
  background-size: 100% 100%;
  background-color: transparent;
  border: 0px;
  width: 3em;
  height: 1.5em;
  margin-top: 20%;
}
.table tbody>tr>td.vert-align{
    vertical-align: middle;
}
.startgamebutton{
  background-image: url(../images/KSYX.png);
  background-size: 100% 100%;
  background-color: transparent;
  width: 6em;
  height: 3em;
}
.entergametext{
  height: 4.5em;
  background-size: 100% 100%;
  background-position:center;
  background-image: url(../images/roomNumber.png);
  margin-bottom: 30px;
}
.entergametext span{
    line-height: 4.5em;
}
.joinbutton{
  background-image: url(../images/JRYX.png);
  background-size: 100% 100%;
  background-color: transparent;
  width: 8em;
  height: 4em;
  border: 0px;
}
.joinbutton_position{
  margin-top: 50%;

}
.inputtext{
  text-align: center;
  font-size: 1.5em;
  padding: 6px 12px;
  color: white;
  background-color: transparent;
  background-image: none;
  border: 0px;
  border-radius: 4px;
  height: 4em;
}
.inputbg{
    height: 12em;
    background-image: url(../images/roomNumber.png);
    background-size: auto 100%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    float: none;
    display: table-cell;
    vertical-align: bottom;
}
