
html,body{
	height: 100%;
	

}
body{
	min-height: 100%;
	height: auto !important;
	background-color: #ce8f1d;
		border: 5px solid #B05C1D;
	}
.title{
	margin-top: 2%;
}
.title_name{
	text-align: center;
}
.player_input{
	text-align: center;
	margin-top:5%;
}
.enter_button{
	margin-top: 5%;
}
.identity_select{
	margin-top: 2%;

}
.status_identity{
	text-align: center;
}
.select_number{
		margin-top: 4%;
		text-align: center;
}
.iden_pic{
	margin-top: 2%;
}

.display_number{
	text-align: center;
	margin-top: 2%;
}
.affirm_button{
	margin-top: 3%;
	margin-bottom: 10%;
}
